@using System.Diagnostics.Eventing.Reader
@* @model FamilyAlbum.Models.Image *@
@model List<Image>
@{
    ViewData[index: "Title"] = "Album";
    string? name = ViewData[index: "Name"] as string;
}

<div class="text-center">
    <h1 class="display-4">Images</h1>
    @if(!string.IsNullOrEmpty(name)){
        <p>Here you will see the uploaded from @ViewData["Name"].</p>
    }else{
        <p>No name given.</p>
    }

    <h3>Uploaded by: @Model[0].Uploader</h3>
   <h4>@Model[0].UploadedAt</h4>
</div>