@using System.Diagnostics.Eventing.Reader
@* @model FamilyAlbum.Models.Image *@
@model List<Image>
@{
    ViewData[index: "Title"] = "Album";
}

<div class="text-center">
    <h1 class="display-4">Bilder</h1>
    
</div>
    <div class="user-container">
        <ul class="user-list">
            <li>Name1</li>
            <li>Name2</li>
            <li>Name3</li>
            <li>name4</li>
            <li>name5</li>
        </ul>
</div>
<div class="all-container">

<div class="content-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>

<div class="content-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>
<div class="content-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>
<div class="content-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>
<div class="content-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
</div>
</div>