@using System.Diagnostics.Eventing.Reader
@{
    ViewData[index: "Title"] = "Album";
}

<div class="text-center">
    <h1 class="display-4">Albums</h1>
    <form id="searchAlbum">
    <input type="text" name="albumName" placeholder="Name"/>
    <button type="submit">Search</button>
    </form>
    
</div>

